rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{userID}/{document=**} {
      allow read, write: if request.auth.uid == userID;
    }
    match /appdata/app_data/{document=**} {
    	allow read
    }
  }
}